@model HelloWorldReact.Models.relative

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sửa thân nhân</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Thêm mới </h4>
                            <hr />
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.name, "Tên thân nhân:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.name)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.dateofbirth, "Ngày sinh:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.dateofbirth, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.dateofbirth)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.workplace, "Nơi làm việc:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.workplace, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.workplace)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.address, "Địa chỉ:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.address)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.placeofbirth, "Nơi sinh:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.placeofbirth, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.placeofbirth)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.relationship, "Relationship?:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.relationship, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.relationship)
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.majorcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.majorcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.ValidationMessageFor(model => model.majorcode)
                                    </div>*@
                                @Html.LabelFor(model => model.studentcode, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.studentcode, ViewBag.levelCode as SelectList, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.ValidationMessageFor(model => model.studentcode)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

