@model IEnumerable<HelloWorldReact.Models.showRelative>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách thân nhân</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    @using (Html.BeginForm("Index", "Relative", FormMethod.Get))
                    {
                    <div class="form-group form-inline">
                        <input type="text" class="form-control" placeholder="Nhập mã thân nhân" name="code">
                        <input type="text" class="form-control" placeholder="Nhập tên thân nhân" name="name">
                        <input type="text" class="form-control" placeholder="Nhập mã sinh viên" name="codest">
                        <button type="submit" class="btn btn-default">Seach</button>
                    </div>

                    @*  *@}
                    <table class="table">
                        <tr>
                            <th>
                               @* @Html.DisplayNameFor(model => model.name)*@
                                Tên
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.dateofbirth)*@
                                Ngày sinh
                            </th>
                            <th>
                              @*  @Html.DisplayNameFor(model => model.workplace)*@
                                Nơi công tác
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.address)*@
                                Địa chỉ
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.placeofbirth)*@
                                Nơi sinh
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.relationship)*@
                                Quan hệ
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.firstnamestudent)*@
                                Tên sinh viên
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateofbirth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.workplace)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.placeofbirth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.relationship)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.firstnamestudent)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.code }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.code })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
